@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
body{
   background-color: aquamarine;
   color: blueviolet;
   font-size: 0.9rem;
}
.header{
    background-color: brown;
    height: 400px;
    width: 1595px;
    border: solid 2px blanchedalmond;
    padding:10px;
    margin: 0%;
}
.index{
    background-color: beige;
    opacity: 70%;
    left:3rem;
    min-width: 15rem;
    max-width: 23rem;
    padding: 4rem 3rem 4rem 3rem;
    box-shadow: 4px 6px 30px darkgreen;
    top:29rem;
    margin-left: 20px;
    margin-top: 300px;
  
    
}
.facility{
    color: rgb(22, 20, 16);
    font-weight: 700;
    position: relative;
    font-size: xx-large;
}
.head{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 100%;
    width: 100%;
    position: relative;
}
.classroom{
 /* display: flex;
 justify-content: center;
 align-items: center; */
 height: 50%;
 width:50%;

    

}
  .images{ 
width: 20%;
position: absolute;
top: 50%;
left: 50%;
transform : translate(-50%,-50%) ;
  /* object-fit: cover;
border-radius: 70%;
align-items: center;   */
 /* display: block;
margin-left: auto;
margin-right: auto; */
}  
h3{
    align-items: center;
    font-size: medium;
}
h3{
    font-size: medium;
    color: brown;
}